<section id="about">
  <%= render "about" %>
</section>
<section id="consume">
  <%= render "consume" %>
</section>
<section id="menu">
  <%= render "menu" %>
</section>
<section id="board">
  <%= render "board" %>
</section>
<section id="environment">
  <%= render "environment" %>
</section>
<section id="contact">
  <%= render "contact" %>
</section>
